<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditBook</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<form action="/saveBook" method="post">
    <div class="container">
        <h1>Update Book</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <input type="hidden" name="id" th:value="${book.id}">

        <label for="title"><b>Title</b></label>
        <input type="text" th:value="${book.title}" name="title" id="title" required>

        <label for="description"><b>Description</b></label>
        <input type="text" th:value="${book.description}" name="description" id="description" required>

        <label for="price"><b>Price</b></label><br>
        <input type="number" th:value="${book.price}" name="price" id="price" required><br><br><br>


        <label for="author"><b>Author</b></label><br>
        <select name="author.id" id="author">
            <option th:each="author: ${authorss}" th:value="${author.id}" th:text="${author.name}"></option>
        </select>
        <br><br>

        <button type="submit" class="registerBtn">Update Book</button>
    </div>
</form>

<a href="/book">Book Page</a>
</body>
</html>